

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
    <meta charset="utf-8">
</head>
<body>
<div sec:authentication="principal"></div>
<p th:text="${#authentication.name}"></p>
<p th:text="${#authentication.authorities}"></p>
<p th:text="${#authentication.authenticated}"></p>

<h1> 월하합작 Refactoring project </h1>

<h3> 접근권한 </h3>

<div> 비회원, ADMIN </div>
<ls>
    <ul>회원가입</ul>
    <ul>상품조회</ul>
</ls>

<div> USER, ADMIN </div>
<ls>
    <ul>로그인</ul>
    <ul>아이디찾기</ul>
    <ul>상품주문</ul>
    <ul>문의글 등록</ul>
</ls>


</body>
</html>