<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

</head>
<body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>



<form>
    <div>
        <label>ID</label>
        <input type="text" name="memberUsername" id="memberUsername">
    </div>
    <div>
        <label>PW</label>
        <input type="password" name="memberUsername" id="password">
    </div>
    <div>
        <label>PW check</label>
        <input type="password" >
    </div>
    <div>
        <label>name</label>
        <input type="text" id="memberName" name="memberName">
    </div>
    <div>
        <label>phone</label>
        <input type="text" id="memberPhone" name="memberPhone">
    </div>
</form>
<button id="btn-save">Join</button>

<script src="../js/member.js"></script>


</body>
</html>